@model AnimalShelter.Models.Animal;

<h1>Animal Shelter</h1>

<h2>@Html.DisplayNameFor(model=>model.Name): @Html.DisplayFor(model=> model.Name)</h2>
<ul>
  <li>@Html.DisplayNameFor(model=>model.Breed): @Html.DisplayFor(model=> model.Breed)</li>
</ul>

<p>@Html.ActionLink("Back to List", "Index")</p>