<!-- @AnimalShelter.Models.Animal; -->
@using AnimalShelter.Models;

<h1>@Model[animal].Name</h1>
<li>@Model[animal].Breed</li>
<li>@Model[animal].Date</li>
<li>@Model[animal].Age</li>

<a href="">Click here to go back</a>
